.timer {
    background: #fb6107;
    padding: 4px 2px;
    outline-offset: -2px;
    line-height: 1em;
    margin: 0 1px;
}

.timer::selection {
    display: none;
}
.ck-editor .js-inline-picker, .ck-editor .picker  {
  width: 200px;
  height: inherit;
  position: inherit;
}
